@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply 
           text-5xl 
           text-center font-bold;
    }
    input {
        @apply
            bg-transparent w-11/12 m-1 h-12 rounded-3xl p-5 
            border-2 border-sky-400 backdrop-blur-md text-gray-700
    }
    input:focus{
          @apply
           bg-sky-200
    }
    span{
        @apply
         bg-sky-400 w-2/4 h-10 rounded-3xl flex flex-col justify-center text-center text-xl
    }
    span:focus{
        @apply bg-sky-200
    }
}

@layer components {
    .login-container {
        @apply
            h-screen flex flex-col
            justify-center items-center w-full;
    }
    .card {
        height: 45%;
        align-items: center;
        @apply flex flex-col justify-around w-full;
    }
    .slogan {
        @apply 
            text-sm text-center 
            font-medium mb-2;
    }
}
