@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply font-bold text-5xl text-center;
    }

    input {
        
        @apply bg-transparent w-11/12 m-1 h-12 rounded-3xl  border-2 border-sky-400 backdrop-blur-md text-gray-700
    }

    input:focus {
        @apply bg-sky-200 p-4
    }

    span {
        cursor: pointer;
        @apply bg-sky-400 w-2/4 h-10 rounded-3xl flex flex-col justify-center text-center text-xl 
    }

    span:focus {
        @apply bg-sky-200
    }
}

@layer components {
    .login-container {
        @apply flex flex-col justify-center items-center w-full h-screen;
    }

    .card,
    .card_desk {
        height: 45%;
        align-items: center;
        border-radius: 15px;
        @apply flex flex-col justify-around;
    }

    .card_desk {
        box-shadow: -5px 4px 9px 1px rgba(0, 0, 0, 0.43);
        @apply w-1/2
    }

    .slogan {
        @apply mb-2 font-medium text-center text-sm;
    }
}